/***     Tablet      ***/
@media screen and (min-width: 760px) {

  /* Header */
  .logo {
    font-size: 1.8rem;
  }

  nav.nav_menu.active {
    width: 50%;
    margin-left: 50%;
    top: 5.9rem;
  }
  .header{
  justify-content: flex-start;
  gap: 14%;
  }

  .lang-switch{
    display: flex;
  }

  /* Home */
  .image_home {
    max-width: 50rem;
  }

  .container_text-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home_text-1 {
    margin-right: 1rem;
    font-size: 2.4rem;
  }

  .home_text-2 {
    font-size: 3.6rem;
  }

  /* Sobre mi */
  .sobreMi {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_content-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_texto-sobreMi {
    padding: 4rem;
  }

  .title_sobreMi {
    font-size: 3rem;
  }

  .texto_sobreMi {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .container_image-sobreMi {
    width: 65%;
    margin-top: 2rem;
  }

  /* Habilidades */
  .cards_container--habilidades {
    column-gap: 4rem;
  }

  /* Formación */
  .cards_container--formacion {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cards--formacion {
    margin: 3rem;
  }

  /* Proyectos */
  .cards--proyectos {
    max-width: 48rem;
  }

  /* Contacto */
  .container--contacto {
    margin: 0 auto;
    width: 80%;
  }
}

/***    Mobile - Tablet Fix    ***/
@media screen and (max-width: 480px) {
  .header{
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
  }

  .lang-switch{
    display: flex;
    width: auto;
    justify-items: center;
    align-items: center;
    flex-direction: row;
  }
  
  .home_text-2 {
    font-size: 4rem;
  }

  .image-dark,
  .image-light {
    width: 10rem;
    height: 10rem;
  }

  .cards_container--formacion {
    align-items: center;
    height: auto;
    width: 100%;
  }
}

.cards--formacion {
  width: 34rem;
  height: 30rem;
  gap: .8em;
  justify-content: space-evenly;
}

.cards--habilidades{
  justify-content: space-evenly;
}

.cards--proyectos {
  max-width: 34rem;
}

@media screen and (min-width: 760px) and (max-width: 980px) {
  .switch {
    right: 5rem;
  }
}

/***      Desktop     ***/
@media screen and (min-width: 980px) {

  /* Header */
  .header {
    justify-content: flex-end;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logo {
    display: none;
  }

  nav.nav_menu {
    display: flex;
  }

  nav.nav_menu a {
    font-size: 1.6rem;
    padding: 0.5rem;
    color: var(--primary);
    font-family: "Cooper Hewitt";
    text-decoration: none;
    letter-spacing: 0.1rem;
    right: 0;
    margin-right: 2.5rem;
  }

  nav.nav_menu a:hover,
  nav.nav_menu a.active {
    color: var(--background2);
    padding: 0.5rem;
    border-bottom: 1px solid var(--background2);
    transition: all 0.5s;
  }

  nav.nav_menu.not-active a {
    display: flex;
  }

  div.btn {
    display: none;
  }

  span+span {
    margin-top: 0;
  }

  /* Home */
  .home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
  }

  .container_image-home {
    width: 45vw;
    padding-right: 4rem;
  }

  .image_home {
    object-fit: contain;
    max-width: 57rem;
  }

  .image-light,
  .image-dark {
    top: 17%;
  }

  .home_info {
    width: 55vw;
    padding-left: 6rem;
  }

  .container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 0.2rem;
    text-align: start;
    margin-top: 6rem;
  }

  .home_text-1 {
    font-size: 3.5rem;
    margin-left: 0.4rem;
    font-weight: bold;
  }

  .home_text-2 {
    font-size: 8em;
    font-weight: bold;
    /* color: var(--secondary); */
  }

  .home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 2.5em;
    width: 30rem;
    letter-spacing: 0.2rem;
  }

  .container_parrafo-info {
    display: inline-block;
    text-align: start;
  }

  .container_parrafo-info p {
    color: var(--primary);
    font-family: "Cooper Hewitt";
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    width: 76%;
  }

  .container_button {
    display: flex;
  }

  .cv_button {
    border: 1px solid var(--background2);
    color: #FFF;
    margin-right: 1rem;
    transition: ease-in-out 0.2s;
    width: 15rem;
    height: 3.5rem;
    font-size: 1.6em;
  }

  .cv_button:hover {
    background: var(--background1);
    box-shadow: 0px 2px 10px #141414;
    transition: 1s transform;
    color: var(--secondary);
  }

  .links {
    width: 5%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem 2rem 3rem;
  }

  .links img {
    margin: 0.7rem 0 0.7rem 0;
  }

  /* Sobre Mí */
  .sobreMi {
    padding-bottom: 4rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sobreMi h1 {
    margin-top: 2rem;
  }

  .container_content-sobreMi {
    flex-direction: row-reverse;
  }

  .container_texto-sobreMi {
    width: 70%;
    padding: 0 5% 0 3rem;
  }

  .title_sobreMi {
    text-align: start;
    font-size: 3.2rem;
    letter-spacing: 0.3rem;
  }

  .texto_sobreMi {
    text-align: start;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 2.8rem;
  }

  /* Habilidades */
  .habilidades {
    padding-bottom: 8rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .puntos1-habilidades {
    display: inline;
    position: absolute;
    width: 8rem;
    margin: 45rem 0 0
      /* 41rem */
      20%;
    background-attachment: fixed;
  }

  .puntos2-habilidades {
    display: inline;
    position: absolute;
    width: 8rem;
    margin: 0 0 0 76%;
  }

  .cards_container--habilidades {
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: 14rem 14rem;
    padding: 0;
    margin-top: 2rem;
  }

  .cards--habilidades {
    filter: grayscale(1);
  }

  .cards--habilidades:hover {
    filter: grayscale(0);
    border: 1px solid var(--background2);
    transition: all 1s;
  }

  .cards--habilidades p {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    color: var(--primary);
    cursor: default;
  }

  /* Formación */
  .formacion {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 10rem 0;
    position: relative;
  }

  .formacion h1 {
    padding-top: 20rem;
  }

  .cards_container--formacion {
    padding: 0 15rem 20rem 15rem;
    align-content: center;
    justify-content: center;
  }

  .cards--formacion {
    align-items: center;
    border-radius: 0 24px;
    height: 32rem;
    justify-content: space-evenly;
    transition: 0.8s all;
    width: 40rem;
  }

  .cards--formacion:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.1);
    cursor: pointer;
  }

  .cards--formacion img {
    margin: 0;
    padding: 0;
    width: 25rem;
    height: auto;
  }

  .cards--formacion p:nth-child(1) {
    color: #faf9f6;
    font-family: "Cooper Hewitt";
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
    text-align: center;
    margin-top: 0;
  }

  .cards--formacion p:nth-child(2) {
    color: #faf9f6;
    font-family: "Cooper Hewitt";
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
  }

  /* Proyectos */
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .puntos1-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0 1%;
    background-attachment: fixed;
  }

  .puntos2-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
  }

  .cards_container--proyectos {
    flex-direction: row;
    justify-content: center;
  }

  .cards--proyectos {
    max-width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
  }

  .text-portafolio {
    margin-top: -3rem;
  }

  /* Contacto */

  .contacto h1 {
    padding: 8rem 0 2.5rem 0;
  }

  .container_box--contacto {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }

  .container_img--contacto {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
  }

  .container_img--contacto img {
    width: 50rem;
    object-fit: contain;
  }

  .container--contacto {
    width: 50%;
    margin: 0;
    padding: 4rem 3rem;
  }
}